/* FONT */
@font-face {
	font-display: swap;
	font-family: 'Eldwin';
	font-style: normal;
	font-weight: 600;
	src: url('../fonts/eldwin/eldwin-bold.otf') format('truetype');
}

@font-face {
	font-display: swap;
	font-family: 'Futura';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/futura/futura-light.woff') format('truetype');
}

@font-face {
	font-display: swap;
	font-family: 'Futura';
	font-style: normal;
	font-weight: 800;
	src: url('../fonts/futura/futura-heavy.woff') format('truetype');
}

/* GENERAL */
:root {
    --white: #FFFEFB;
    --off-white: #FAFAFA;
    --light-gray: #EEEEEE;
    --gray: #818181;
    --black: #363232;
    --blue: #143A9B;
    --red: #F7564E;

	--background-color: var(--white);
	--foreground-color: var(--black);
    --highlight-1: var(--red);
    --highlight-2: var(--blue);

    --font-bold: 'Eldwin', Helvetica, Arial, sans-serif;
	--font-sans-serif: 'Futura', Helvetica, Arial, sans-serif;
}

* {
    box-sizing: border-box;
}
  
body {
  background-color: var(--background-color);
  color: var(--foreground-color);
  margin: 0;
}

/* TYPOGRAPHY */
h1, h2, h3, h4 {
    font-family: var(--font-sans-serif);
    font-weight: 800;
    color: var(--highlight-2);
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 1rem;
    text-transform: uppercase;
}

.script {
    font-family: var(--font-bold);
    font-size: 2.5rem;
}

p {
    font-family: var(--font-sans-serif);
    font-size: 1rem;
}