.carousel {
  position: relative;
  width: 100%;
  height: 300px; /* Adjust as needed */
}
.carousel-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.6s;
  object-fit: cover;
  z-index: 1;
}
.carousel-img.active {
  opacity: 1;
  z-index: 2;
}
