body {
      margin: 0;
      background: var(--highlight-1);
    }

.app-shell {
    width: 393px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--highlight-1);
}

.splash-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}